%article
  %header
    %h1= h("About #{@site.title}")
  %section.content
    :textile
  
      Hello! Thanks for stopping by.

      This is the personal blog by Scott Watermasysk.

      h2. Who is Scott?

      # Family man. I am married to a wonderful woman who has blessed me with a great daughter.
      # Employee. I am the Vice President of Architecture at "Telligent":http://telligent.com. 
      # Sports enthusiast.
      # Blogger. See this site. :)
      # Social Contributor. Find me on "Twitter":http://twitter.com/scottw and "Tumblr":http://scottw.me (and here).

      As for the rest of the bio: I currently live in NJ and I am a graduate of Rutgers University. I have held a variety of positions over the years, but software is definitely what I was born to do. I have also been lucky enough to be affiliated with some awesome developer groups: "Microsoft's MVP program":http://microsoft.com/mvp, the "Regional Directors":http://msdn2.microsoft.com/en-us/isv/bb190468.aspx, and  "ASPInsiders":http://aspinsiders.com/.

      If you have question or two or just need some more information, please feel free to contact me at  "scottwater@gmail.com":mailto:scottwater+blog@gmail.com.

      h2. What about this site? 

      This site is currently generate by "Jekyll":http://jekyllrb.com, hosted by "Heroku":http://heroku.com via "Rack-Jekyll":http://github.com/bry4n/rack-jekyll. 

      With so many ways to easily communicate these days it is very easy to over think the question, "where and what to blog?". This is something I have given way too much thought to over the last 7 years or so. 

      Here is my current plan: 

      # Post about code, specific uses of software/tools, business, books, etc go on "ScottW.com":http://scottw.com. 
      # Post which are about news, trends, other sites, job opportunities, etc will go on my "Tumblr":http://tumblr.com blog "ScottW.me":http://scottw.me. 

      Again, this is probably over thinking, but it feels like the right mix for me.