- @posts.each do |post| 
  %article
    %header
      %h1
        = link_to h(post.title), path_for(:post, :slug => post.slug)
    %section.content
      ~post.body
    %footer
      Published 
      %time{:datetime => post.created_at.iso8601, :pubdate => true}
        = kronic(post.created_at)